<header class="ba-header">
    <!-- <button class="menu-icon dark hide-for-medium" type="button" data-open="offCanvas"></button> -->
    <div class="ba-header-menu">
        <div class="ba-leader-menu__l">
            <ul class="vertical medium-horizontal menu">
                <li><a href="#0"><i class="fi-list"></i> <span>Home</span></a></li>
                <li><a href="#0"><i class="fi-list"></i> <span>Products</span></a></li>
                <li><a href="#0"><i class="fi-list"></i> <span>FAQs</span></a></li>
                <li><a href="#0"><i class="fi-list"></i> <span>Contact Us</span></a></li>
            </ul>
        </div>
        <!-- /.ba-leader-menu-l -->
        <a href="ba-logo">CBD</a>
        <div class="ba-header-menu__r">
            <ul class="vertical medium-horizontal menu">
                <li><a href="#0"><i class="fi-list"></i> <span>login</span></a></li>
                <li><a href="#0"><i class="fi-list"></i> <span><i class="fas fa-search"></i>Search</span></a></li>
                <li><a href="#0"><i class="fi-list"></i> <span>Cart (0)</span></a></li>
            </ul>
        </div>
        <!-- /.ba-header-menu-r -->
    </div>
    <!-- /.ba-header -->
    <div class="ba-header__title">
        <h1>Enhancing Life Excelling in Care</h1>
        <span class="ba-header__title--desc">Choose Wisely. Choose CBD.</span>
        <button class="button-1">Start Shopping</button>
        <a href="#">See all products<i class="fas fa-long-arrow-alt-right"></i></a>    
    </div>
    <!-- /.ba-title -->
    <a href="#"><i class="header-arrow-2 fas fa-angle-down"></i></a>
    

</header>